*{
    margin: 0;
    padding: 0;
     
}
body{
    background-color:beige;
    text-align: center;
}
.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}
.box{
    height: 20vmin;
    width: 20vmin ;
    border-radius: 1rem;
    border: 1;
    border-color: rgb(255, 0, 0);
    box-shadow: black;
    font-size: 10vmin;
    color: rgb(255, 98, 0);
     
}
#a{
    font-size: large;
    padding: 1rem;
    background-color: black;
    color: whitesmoke;
    border: none;
    border-radius: 1rem;
}   
#msg{
    font-size: xx-large;
    color: crimson;

}
.hide{
    display: none ;
}